.modal {
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0; right: 0;
    background-color: rgba(0,0,0,.94);
    z-index: 5;
    display: flex;

    &--is-visible {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    &__inner {
        flex: 1;
        margin: auto;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        color: #fff;
        margin-bottom: 10px;
        margin-top: -100px;

        @mixin atMedium {
            font-size: 3rem;
        }
    }

    &__close {
        position: absolute;
        top: 20px; right: 20px;
        font-size: 2rem;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        cursor: pointer;
        color: #fff;

        &:hover {
            color: $babyblue;
        }
    }

    .wrapper {
        position: relative;
    }

    &__search {
        border: 1px solid grey;
        border-radius: 999px;
        width: 100%;
        padding: 10px 38px;
        outline: 0;
        background-color: #f5f5f5;

        &__search:hover, &__search:focus {
            border: 1px solid $babyblue;
            background-color: #fff;
        }
        
    }

    &__search-icon {
        position: absolute;
        top: 50%;
        left: 30px;
        width: 14px;
        transform: translateY(-50%);
    }

    &__clear-icon {
        position: absolute;
        top: 9px;
        right: 8px;
        width: 12px;
        cursor: pointer;
        visibility: hidden;
    }
}