.primary-nav {
    padding-top: 20px;
    
    @mixin atMedium {
        padding-top: 0;
        flex-grow: 1;
        text-align: left;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin-bottom: 10px;
        text-align: center;
        list-style: none;

        @mixin atMedium {
            display: inline-block;
            padding-right: 20px;
            margin-bottom: 0;

            &:last-child {
                padding-right: 0;
            }
        
        }

        a {
            color: #fff;
            text-decoration: none;
            font-weight: 700;
            padding: 5px 10px;
            font-size: 1.5rem;
            display: inline-block;
            text-transform: uppercase;
            background-color: $pinkmenyala;

            &:hover {
                box-shadow: 2px 2px 0 $babyblue;
            }
            
            @mixin atMedium {
                color: #fff;
                font-size: 1rem;
                background-color: transparent;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 0%;
                    height: 2px;
                    background-color: #fff;
                    transition: all .2s;
                    left: 50%;
                    transform: translateX(-50%);
                }
    
                &:hover {
                    box-shadow: none;
                    &::after {
                        width: calc(100% - 20px);
                    }
                }
            }
        }
    }
}