.site-footer {
    background-color: $black;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 200;


    &__text {
        display: block;
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 1rem;

    }

    &__icons {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        margin-bottom: 2rem;

        a:hover .site-footer__icon {
            filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(4155%) hue-rotate(314deg) brightness(93%) contrast(93%);
        }
    }

    &__icon {
        max-height: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
}