.wrapper{
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px; /*padding 18+18px = 36px has to be added to 1200px to recover lost px */
    margin-left: auto;
    margin-right: auto;

    &--medium {
        max-width: 976px;
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }

    &--b-margin {
        margin-bottom: 1rem;
        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }
}